{% extends "master.html" %}

{% block title %}
  My Tennis Club
{% endblock title %}

{% block content %}

<div class="card">
  <div class="card-header">
    Update Member
  </div>
  <div class="card-body">
    <form action="/members/update/{{mymember.id}}/save" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="plan" class="form-label">Select Plan</label>
            <select class="form-select" id="plan" name="plan">
              {% for x in myplans %}
              <option value="{{ x.id }}" {% if x.id == mymember.plan %}selected{% endif %}>{{ x.title }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="firstname" class="form-label">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="firstname" value={{mymember.firstname}} placeholder="John">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="lastname" value={{mymember.lastname}} placeholder="Doe">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone" value={{mymember.phone}} placeholder="4002-8922">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Confirm</button>
        </div>
    </form>
  </div>
</div>


{% endblock content %}